
@font-face {
  font-family: 'Anton';
  src: local('Anton'),
  url('fonts/Anton.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adam Warren Pro';
  src: url('fonts/AdamWarrenpro.woff2') format('woff2'),
  url('fonts/AdamWarrenpro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adam Warren Pro Bold';
  src: url('fonts/AdamWarrenpro-Bold.woff2') format('woff2'),
  url('fonts/AdamWarrenpro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adam Warren Pro Bold Italic';
  src: url('fonts/AdamWarrenpro-BoldItalic.woff2') format('woff2'),
  url('fonts/AdamWarrenpro-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}